.container {
	width: 1200px;
} 

header .container div .btn {
	/* border-radius: 8px; */
}

nav {
	background-color: #4ea1d3
}


nav .nav-link {
	color: #fff;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
}

nav .nav-link:hover{
	.testing background-color: #454552;
}

